In [ ]:
for x in (10,100):
    print(x)

In [1]:
getal = input("geef een getal: ")
getal = int(getal)
print(getal * getal)
for x in range (1, 11, 2 ):
    print(x)

geef een getal: 5
25
1
3
5
7
9

In [174]:
from random import random, seed, randint


print(randint(0,10))

seed()
print (random(), random(), random())

seed(0)
print (random(), random(), random())

seed(1)
print (random(), random(), random())

seed(35)
print(randint(0,10))

seed()
print(randint(0,10))

6
0.9281322140938131 0.6646555784079131 0.9831011924329077
0.8444218515250481 0.7579544029403025 0.420571580830845
0.13436424411240122 0.8474337369372327 0.763774618976614
8
0

Logische operatoren

In [179]:
t = True
f = False

print(t and t)  # Output: True omdat beide voorwaarden waar zijn (True and True = True)
print(t and f)  # Output: False omdat één van de voorwaarden onwaar is (True and False = False)
print(f and f)  # Output: False omdat beide voorwaarden onwaar zijn (False and False = False)
print(f and t)  # Output: False omdat één van de voorwaarden onwaar is (False and True = False)

True
False
False
False

In [180]:
t = "Ezel"
f = "Paard"

print(t and t)  # Output: "Paard" omdat bij de 'and'-operator de laatste waard die geëvalueerd wordt geretourneerd wordt als beide waar zijn
print(t and f)  # Output: "Paard" omdat bij de 'and'-operator de laatste waard die geëvalueerd wordt geretourneerd wordt als één van beide onwaar is
print(f and f)  # Output: "Paard" omdat bij de 'and'-operator de laatste waard die geëvalueerd wordt geretourneerd wordt als beide waar zijn
print(f and t)  # Output: "Ezel" omdat bij de 'and'-operator de laatste waard die geëvalueerd wordt geretourneerd wordt als beide waar zijn

Ezel
Paard
Paard
Ezel

In [ ]:
for x in ("10", "100", "1000", "10000"):
    print(x)

t1 = ("appel", "mango")
print(t1)    

t3, t4 = "appel", "banaan"
print(type(t3))
print(t4)

fruitlist = ['appel', "banaan", "kers", "doerian", "mango"]
print(fruitlist)
fruitlist[1:2] = ["framboos", "aardbei"]
print(fruitlist)

In [ ]:
fruit = "banaan"
for letter in fruit:
    print(letter)
    if letter == "n":
        fruit = "mango"
print("klaar")

In [ ]:
# voorbeeld rond iteratie
totaal = 0
teller = 0
while teller < 5:
        nummer = int(input("Geef een nummer:")) 
        totaal += nummer
        teller += 1
print("Totaal is", totaal)

In [ ]:
for x in range(10):
    print(x)

for x in range (1, 11, 2):
    print(x)
    
for x in (10, 100, 1000, 1000):
    print(x)

In [ ]:
# voorbeeld rond iteratie
num = 1
while num <= 5:
        print(num)
        num += 1
print("Klaar")

In [ ]:
# voorbeeld rond iteratie
nummer = int(input("Geef een nummer:"))
totaal = 0
while nummer !=0:
    totaal += nummer
    nummer = int(input("Geef een nummer:"))

print("Totaal is", totaal)

In [ ]:
# voorbeeld rond iteratie
nummer = 1
totaal = 0
while (nummer * nummer) % 1000 !=0:
        totaal += nummer

print("Totaal is", totaal)

In [1]:
# voorbeeld rond tuples
t1 = ("appel", "banaan")
t2 = ("appel", 3, 1.4)
t3 = ("appel", 3, 1.4, ("banaan", 5))
print(t1)
print(t2)
print(t3)
print(len(t1))
print(len(t2))
print(len(t3))

t1 = ("appel","mango")
print(type(t1)) 
t2 = "banaan", "kers"
print(type(t2))

('appel', 'banaan')
('appel', 3, 1.4)
('appel', 3, 1.4, ('banaan', 5))
2
3
4
<class 'tuple'>
<class 'tuple'>

In [2]:
# voorbeeld rond lists
fruitlist = ["appel", "banaan", "kers", "doerian", "mango"]
fruitlist[1:1] = ["A", "B", "C"]
print(fruitlist)

['appel', 'A', 'B', 'C', 'banaan', 'kers', 'doerian', 'mango']

In [ ]:
# voorbeeld rond lists
fruitlist = ["appel", "banaan", "kers", "doerian", "mango"]
print(fruitlist)
fruitlist[2]="aarbei"
print(fruitlist)